* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic Coding", cursive;
}
body {
  background-color: #f8f8f8;
}
.title {
  text-align: center;
  padding: 50px;
  margin-top: 20px;
}
.sub-title {
  margin-bottom: 10px;
  font-weight: bold;
}
.is-primary {
  border-radius: 5px;
  border: 3px solid white;
  color: black;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
}
.container-box.container-box{
  background-color: white;
  color: black;
  margin-right: 100px;
  margin-left: 100px;
}
.addressInput{
  display: block;
  width: 528px;
  height: 40px;
  margin-top: 10px;
}
.detailAddressInput{
  width: 420px;
  height: 40px;
  margin: 10px 0px 30px 0px;
}
.findAddressBtn{
  width: 100px;
  height: 40px;
  background-color: #eee;
  cursor: pointer;
  border: black solid 0.5px;
  border-radius: 5px;
}
.findAddressBtn:hover {
  filter: brightness(0.95);
}
.deliveryMsg {
  height: 40px;
  width: 528px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 5px;
}
.deliveryMsg:hover {
  filter: brightness(0.95);
}
.btn-container {
  text-align: center;
  padding-top: 80px;
}
.button {
  margin-left: 40px;
  margin-right: 40px;
  width: 500px;
  height: 50px;
  color: white;
}
.empty-area {
  height: 50px;
}
.go-to-cart-btn.go-to-cart-btn{
  background-color: gray;
}
.purchase-btn.purchase-btn{
  background-color: #3cb371;
}
.button:hover {
  filter: brightness(0.9);
}
.box{
  padding: 0px;
  margin: 0px;
  height: 100px;
}
