.info-item {
  color: #41b977;
  text-decoration: underline;
}

.content-title {
  margin-top: 0;
}

.sub-title-text {
  display: flex;
  font-weight: 700;
  font-size: 15px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sub-title {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.address-input-second {
  width: 100%;
}
.sub-title input {
  width: 70%;
  border: 1px rgb(168, 168, 168) solid;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 16px;
  height: 5px;
}

/* 주소 input 스타일 */
.address-box {
  width: 630px;
}
.address-input-first,
.address-input-second {
  height: 30px;
  margin-top: 10px;
  border: 1px rgb(168, 168, 168) solid;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.address-num {
  display: flex;
}
.address-num button {
  margin: 10px 0px 0px 40px;
  width: 200px;
  font-size: 15px;
  color: #fcfcfc;
  background-color: #222222;
  border-color: #222222;
  cursor: pointer;
  transition-duration: 0.3s;
}
.address-num button:hover {
  background-color: #5a5a5a;
  border-color: #5a5a5a;
}

.modify-box {
  text-align: center;
}

.modify-btn {
  padding: 12px 20px;
  color: #fcfcfc;
  background-color: #222222;
  border-color: #222222;
  cursor: pointer;
  transition-duration: 0.3s;
}
.modify-btn:hover {
  background-color: #5a5a5a;
  border-color: #5a5a5a;
}

.content-box {
  background-color: white;
  color: rgb(168, 168, 168);
  width: 1000px;
}
.content {
  padding: 40px 80px;
}
