html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.body_container {
  margin-top: 50px;
  max-width: 800px; /* 최대 가로 길이를 1000px로 설정 */
  width: 100%; /* body_container의 가로 길이를 화면의 가로 길이에 맞게 100%로 설정 */
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.body_left_container,
.body_right_container {
  flex: 1; /* flex-grow 속성을 사용하여 두 컨테이너가 동일한 비율로 확장 및 축소되게 함 */
}

.body_left_container {
  background-color: #f8f8f8;
  padding-left: 100px;
}

.body_right_container {
  background-color: #f8f8f8;
  padding-left: 100px;
}

.order_list {
  width: 300px;
  height: 300px;
  background-color: #f8f8f8;
}
.order_list_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.review {
  width: 300px;
  height: 300px;
  background-color: #f8f8f8;
}
.review_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}
.coupon {
  width: 300px;
  height: 300px;
  background-color: #f8f8f8;
}
.coupon_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.stack_list {
  width: 300px;
  height: 300px;
  background-color: #f8f8f8;
}

.stack_price {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.stack_price_detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 12px;
}
.stack_price_text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 12px;
  color: gray;
}
.stack_list_history {
  width: 100%;
  height: 50%;
  padding-top: 20px;
}
.history_header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 15px;
}
.history_list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.date {
  width: 80px;
}
.reason {
  width: 80px;
}
.price {
  width: 80px;
  text-align: right;
}
.type {
  width: 80px;
  text-align: right;
}
.user_box {
  width: 100%;
  height: 100%;
}
.user_box_title {
  margin-bottom: 30px;
}
.user_box_logout {
  font-size: 11px;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.id_box {
  width: 100%;
  margin-top: 20px;
}
.id_box_title {
  font-size: 14px;
  margin-bottom: 10px;
}
.id_box_insert {
  width: 96%;
  height: 30px;
}
.email_box {
  width: 100%;
  margin-top: 20px;
}
.email_box_title {
  font-size: 14px;
  margin-bottom: 10px;
}
.email_box_insert {
  width: 96%;
  height: 30px;
}
.name {
  width: 100%;
  margin-top: 20px;
}
.name_title {
  font-size: 14px;
  margin-bottom: 10px;
}
.name_insert {
  width: 96%;
  height: 30px;
}
.phone {
  width: 100%;
  margin-top: 20px;
}
.phone_title {
  font-size: 14px;
  margin-bottom: 10px;
}
.phone_insert1 {
  width: 26%;
  height: 25px;
}
.phone_insert2 {
  width: 26%;
  height: 25px;
}
.phone_insert3 {
  width: 26%;
  height: 25px;
}

select {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  width: 30%; /* 각 select 박스가 동일한 너비를 갖도록 설정 */
  box-sizing: border-box;
  appearance: none; /* 브라우저 기본 스타일 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAWElEQVR42mP4//8/AxmYYjg1PIZp0ZVgNsMUB7LLJBazxgIyMDCQV1Hl/+AfDinOJLHNBs1lEq/7FP4I0bDqB8RM/+IvMtSBBABZ4SDoyF/YKwAAAABJRU5ErkJggg==")
    no-repeat 95% center; /* 드롭다운 화살표 아이콘 */
  background-size: 10px;
  cursor: pointer;
}

select:focus {
  border-color: #007bff;
}
.birth {
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}
.birth_select {
  width: 100%;
  margin-top: 10px;
}
.postal {
  width: 100%;
  margin-top: 20px;
}
.postal_title {
  font-size: 14px;
  margin-bottom: 10px;
}
label {
  cursor: pointer;
}
.gender {
  width: 100%;
  margin-top: 20px;
}
.gender_title {
  font-size: 14px;
  margin-bottom: 10px;
}
.account_issue {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: gray;
  font-size: 12px;
}
.account_issue_password {
  margin-right: 20px;
  padding-left: -20px;
  cursor: pointer;
}
.account_issue_signout {
  cursor: pointer;
}
.account_edit_save {
  margin-left: 70px;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
