html {
  font-family: "Montserrat", sans-serif;
}

.About-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  padding: 35px 0px;
  height: 625px;
}
.About-left {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.About-left img {
  margin-top: 80px;
  height: 310px;
}
.About-right img {
  width: 600px;
}

.About-title {
  font-size: 25px;
  font-weight: 700;
  margin: 45px 0px 25px;
}

.About-des {
  font-weight: 600;
  margin: 0;
}

.About-text {
  font-family: Nanum Gothic, sans-serif;
  display: flex;
  flex-direction: column;
}
.Popular {
  margin-top: 140px;
}

.Product_Tiitle {
  text-align: center;
  line-height: 35px;
}

.Eng_Title {
  font-size: 25px;
  font-weight: 700;
}

.KR_Title {
  color: #969696;
}

.Product_Col {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.Popular_Product {
  margin-left: 30px;
  cursor: pointer;
}

.Popular_Product div {
  text-align: center;
}

.Product_Name {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

.Product_Price {
  font-family: 500;
  margin-top: 10px;
}

.Product_Img {
  width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s;
}

.Product_Img:hover {
  width: 510px;
  height: 410px;
}

.Product_Img img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
}

.Product_Img:hover img {
  transform: scale(1.05);
}
