.div-block-flex {
  display: inline-flex;
  padding: 12px;
  padding-top: 20px;
}
.div-block-block {
  width: 100px;
  height: 100px;
}

.div-block {
  width: 25%;
  height: 360px;
}

.div-login-layout {
  width: 500px;
  height: 360px;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 7px #d7dad8;
  padding: 20px;
}

input {
  width: 100%;
  height: 34px;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background-color: #d3ecde;
  outline: none;
  box-shadow: 2px 1px 10px #65746b inset;
}

.box-formargin {
  margin: 6px;
}

.button-submit {
  background-color: #41b977;
  box-shadow: none;
  font-size: 25px;
  color: #3cb371;
  border: none;
  border-radius: 12px;
  height: 45px;
  background-color: rgb(213, 211, 211);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s, 90ms;
  transition-timing-function: ease-in-out;
}

.button-submit:hover {
  background-color: rgb(231, 229, 229);
  box-shadow: 1px 1px 10px 1px gray;
}

.button-submit:active {
  box-shadow: none;
}
