html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container-wrapper {
  height: 100vh;
  background-color: #deebdd;
}

.wrapper {
  display: flex;
}

#nav-container {
  background-color: #f8f8f8;
}
.navbar {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  width: 200px;
  height: 100%;

  box-shadow: 2px 2px 2px 2px gray;
}

.navbar-brand {
  text-align: center;
  justify-content: center;

  font-weight: bold;
}
.navbar-brand a {
  border: 0px;
}
.navbar-brand a p {
  font-size: 23px;
}

.navbar-item {
  border-bottom: 1px solid;
  margin: 5px;
}

/*box style*/

.wrapper {
  background-color: #deebdd;
  display: flex;
}

.content-box {
  margin: 25px;
  width: 1000px;
  height: auto;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 10px;
  background-color: #f8f8f8;
  padding: 13px;
}

.page-box {
  width: 100%;
}

.page {
  display: flex;
}
