html {
  font-family: "Nanum Gothic Coding", cursive;
  background-color: #f8f8f8;
}

.Categories_Title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #969696;
  margin-top: 70px;
}

.Product_Col {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.Product {
  margin-left: 30px;
  cursor: pointer;
}
.Product div {
  text-align: center;
}

.Product_Name {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}
.Product_Price {
  font-family: 500;
  margin-top: 10px;
}

.Product_Img {
  width: 560px;
  height: 450px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}
.Product_Img div {
  width: 420px;
  height: 450px;
  background-size: cover;
  background-position: center center;
}
.first_Img {
  position: relative;
}
.second_Img {
  position: absolute !important;
  opacity: 1;
  transition: all 0.5s;
}
.second_Img:hover {
  opacity: 0;
}
.Product_Img:hover {
  width: 565px;
  height: 455px;
}
