.button-box-01,
.button-box-02 {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 12px;
  width: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 10px 1px #2a8c56;
  border-radius: 30px;
  background-color: #dadada;

  transition-property: box-shadow;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  height: 700px;
  width: 30px;
}
.out-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.button-box-01:active,
.button-box-02:active {
  box-shadow: none;
}

.category-card,
.submit-card {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 3px 3px rgba(56, 56, 56, 0.2);
  border-radius: 12px;
  display: block;
}

.category-card {
  width: 1000px;
  height: 780px;
  margin-right: 20px;
}

.submit-card {
  width: 600px;
  height: 780px;
}

.submit-card::-webkit-scrollbar {
  width: 5px;
}

.submit-card::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #d7dad8; /* 스크롤바의 색상 */

  border-radius: 10px;
}
