
/*-----------------button-----------------*/
.button-submit-category {
  font-size: 20px;
  margin: 12px;
  width: 400px;
  height: 40px;
  border: 0.2px dashed #2a8c56;
  border-radius: 30px;
  background-color: #f8f8f8;
  box-shadow: none;
  transition-property: border, box-shadow background-color;
  transition-duration: 50ms;
}

.button-submit-category:hover {
  border: 0.2px dashed #2a8c56;
  box-shadow: 1px 1px 10px 2px #7c7c7c;
  background-color: #2a8c56;
}

.button-submit-category:active {
  box-shadow: none;
}

.button-delete {
  background-color: rgb(252, 118, 118);
  color: white;
  border: none;
  border-radius: 12px;
  width: 60px;
  margin: 10px;
  height: 30px;
  box-shadow: 1px 1px 10px 2px gray;
  transition-property: box-shadow, background-color;
  transition-duration: 100ms, 100ms;
  transition-timing-function: ease-in-out;
}

.button-delete:hover {
  background-color: rgb(208, 97, 97);
}

.button-delete:active {
  box-shadow: none;
}

.button-amend {
  background-color: #37b16e;
  color: white;
  border: none;
  border-radius: 12px;
  width: 60px;
  margin: 10px;
  box-shadow: 1px 1px 10px 2px gray;
  transition-property: box-shadow, background-color;
  transition-duration: 100ms, 100ms;
  transition-timing-function: ease-in-out;
}

.button-amend:hover {
  background-color: #2e9e60;
}

.button-amend:active {
  box-shadow: none;
}

.button-delete-order {
  font-size: 20px;
  margin: 12px;
  width: 400px;
  height: 40px;
  border: 0.2px dashed red;
  border-radius: 30px;
  background-color: #f8f8f8;
  box-shadow: none;
  transition-property: border, box-shadow background-color;
  transition-duration: 50ms;
}

.button-delete-order:hover {
  border: 0.2px dashed red;
  box-shadow: 1px 1px 10px 2px #7c7c7c;
  background-color: rgb(232, 118, 118);
}

.button-delete-order:active {
  box-shadow: none;
}

/*-----------------button-----------------*/

.name,
.id,
.price {
  width: 80px; 
  text-align: center;
}

.item-box {
  display: flex; 
  justify-content: space-between; 
  margin: 20px;
  height: 75px;
  border: 0.5px dashed #2a8c56;
  border-radius: 30px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.item-box:hover {
  border: 0.5px solid #2a8c56;
}


.input-name,
.input-id,
.input-price,
.input-color {
  outline: none;
  border:none;
  margin: 5px;
  background-color: #f8f8f800;
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
}

.input-box {
  margin: 5px;
  display: flex; 
  width: 400px; 
  border: 0.5px dashed #2a8c56;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px #859a8d inset;
  transition-property: border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-color: #d3ecde;
}

.input-category-amend {
  outline: none;
  border: none;
  background-color: #f8f8f800;
  margin: 5px;
  width: 400px;
  text-align: center;
}

.input-description {
  outline: none;
  border:none;
  margin: 5px;
  background-color: #f8f8f800;
  height: 90px;
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}

.block-box {
  display: block;
}

.flex-box {
  display: flex;
}

.p-order-number,
.p-order-email,
.p-order-date,
.p-order-state {
  font-weight: bold;
}

.submit-card {
  overflow: scroll;
}

#select-category {
  border-radius: 12px;
  border: none;
  background-color: #bbe3cd00;
  outline: none;
}