


.wrapper {
    margin: 13px;
    font-family: 'Nanum Gothic Coding', cursive;
}
ul {
    width: 100%
}
li {
    display: flex;
    width: 100%;
}
.cart-container {
    border-top: 2px solid olive;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    padding: 12px;
}

.cart-header {
    margin-left: 40px;
    font-size: 20px;
}

ul {
    list-style:none;
    border: 1px solid;
    border-radius: 20px;
    padding: 12px;
}

.item-inpo {
    width: 100%;
    margin-top: 1px;
    margin-left: 10px;
}

.input-count {
    width: 20px;
    text-align: center;
    border-radius: 0px;
}

.count-box {
    display: flex;

}

.btn-minus {
    width: 30px;
    border-radius: 0px;
    border: 0px;
    background-color: rgb(156, 183, 136);
}

.img-minus {
    width: 10px;
}

.btn-plus {
    width: 30px;
    border-radius: 0px;
    border: 0px;
    background-color: rgb(156, 183, 136);
}

.img-plus {
    width: 10px;
}
.img-box {
    display: flex;
    width: 100px;
    height: auto;
    background-color: white;
}

.img-items {
    width: 100%;
    margin: auto;
}

.container-box {
    display: flex;
    justify-content: flex-end;
    
}


.price-container {
    border-top: 2px solid olive;
    padding-top: 12px;
    width: 300px;
}

.price-container div {
    display: flex;
    justify-content: space-between;
}

.price-container input {
    width: 100px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-buy {
    width: 100px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: rgb(86, 161, 32);
    border-radius: 5px;
    border: 1px solid olive;
    
}



.btn-buy:hover {
    background-color: green;
}